@model mvc_shopping_mainproject.Models.orderModel

@{
    ViewBag.Title = "Placeorder";
    Layout = "~/Views/Shared/customer_layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Placeorder</h2>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    function clearcontrols() {
        document.getElementById("ProductQuantity").value = "";

        document.getElementById("OrderAddress").value = "";
        document.getElementById("DeliveryCity").value = "";
        document.getElementById("State").value = "";
        document.getElementById("MobileNo").value = "";
        document.getElementById("btn_add").disabled = true;





    }

    function calculate() {

        var textValue1 = document.getElementById("pprice").value;
        var textValue2 = document.getElementById("pqty").value;

        document.getElementById("orderprice").value = textValue1 *

textValue2;
    }








    function orderbtnclear() {
        document.getElementById("btn_add").disabled = false;

    }

</script>
@*new AjaxOptions { HttpMethod = "post", UpdateTargetId = "result", OnBegin

    = "orderbtnclear", OnComplete = "clearcontrols" })*@

@using (Html.BeginForm("Placeorder", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="align-content:center; text-align:justify;font-size:22px;color:darkblue;">

        <p style="font-size:larger;color:green;">
            @ViewBag.check_stock_status1
            @ViewBag.check_stock_status
        </p>


        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerEmailId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CustomerEmailId, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.CustomerEmailId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ProductId, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.ProductId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ProductName, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductPrice)
        </div>
        <div class="editor-field">

            @Html.TextBoxFor(model => model.ProductPrice, new { @readonly = "readonly", id = "pprice" })
            @Html.ValidationMessageFor(model => model.ProductPrice)
        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.ProductQuantity)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductQuantity", ViewBag.qtylist as IEnumerable<SelectListItem>, "select", new { id = "pqty", onchange = "calculate()" })

            @Html.ValidationMessageFor(model => model.ProductQuantity)

            <div class="editor-label">
                @Html.LabelFor(model => model.OrderPrice)
            </div>
            <div class="editor-field">
                @Html.TextBox("OrderPrice", "", new { id = "orderprice", @readonly = "readonly", TabIndex = "-1" })

            </div>
        </div>





        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerName)
        </div>
        <div class="editor-field">
            @Html.TextBox("CustomerName", "")
            @Html.ValidationMessageFor(model => model.CustomerName)
        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.DeliveryAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeliveryAddress)
            @Html.ValidationMessageFor(model => model.DeliveryAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeliveryCity)
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeliveryCity", ViewBag.cities as IEnumerable<SelectListItem>, "select")
            @Html.ValidationMessageFor(model => model.DeliveryCity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.DropDownList("State", ViewBag.states as IEnumerable<SelectListItem>, "select")
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PinCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PinCode)
            @Html.ValidationMessageFor(model => model.PinCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobileNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileNo)
            @Html.ValidationMessageFor(model => model.MobileNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PaymentOption)
        </div>
        <div class="editor-field">

            @Html.RadioButtonFor(model => model.PaymentOption, "Cash OnDelivery", true)Cash On Delivery
            @*@Html.RadioButtonFor(model => model.PaymentOption,"NetBanking",false)NetBanking
                @Html.RadioButtonFor(model => model.PaymentOption, "Debit/CreditCard", false)Debit/Credit Card*@



            @Html.ValidationMessageFor(model => model.PaymentOption)
        </div>

        <p>
            <input type="submit" value="Place Order" id="btn_add"
                   style="font-size:larger" />
            <br />
            <br />
            <br />
            @Html.ActionLink("Back to Home", "Customerindex")
        </p>

    </fieldset>
}


